body {
  background-color: white;
  font-family: "Varela Round", sans-serif;
  margin: auto;
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(32, 49, 32);
  border-bottom: 1px rgb(32, 49, 32) dotted;
}

a:visited {
  color: black;
}

a.home:active {
  color: rgb(100, 153, 100);
  border-bottom: 1px rgb(100, 153, 100);
}

.site-header {
  font-family: "Libre Baskerville", serif;
  border-bottom: 1px rgb(32, 49, 32) dotted;
  height: 1fr;
  margin: 1px;
  padding: 1px;
  grid-area: header;
  text-align: center;
}

.site-header p {
  margin: 0px;
  padding: 0px;
}

.site-header h1 {
  margin: 0px;
  padding: 0px;
}
/*--- main/gallery/hoofdelement wrapper  ---*/

.site-wrapped {
  height: 100vh;
  width: 100vw;
  font-family: "Varela Round", sans-serif;
  font: normal;
  color: rgb(32, 49, 32);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "mobmenu"
    "header"
    "main"
    "footer";
  justify-content: center;
  align-content: center;
}

/* menu mobile (kan mooier, uitklappend menu */
.site-menu {
  background-color: white;
  font-family: "Libre Baskerville", serif;
  color: rgb(32, 49, 32);
  padding: 0px;
  border: 0px 0px 1px 0px dotted;
  width: 1fr;
  font-size: 18px;
  top: 0;
  position: sticky;
  grid-area: mobmenu;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.site-menu > div {
  margin: 10px;
}

.site-menu a:hover {
  border-bottom: 1px black dotted;
}

.site-menu a.active {
  border-bottom: 1px black dotted;
  color: rgb(100, 153, 100);
}

/* navigatiebalkje */

.site-nav {
  color: rgb(32, 49, 32);
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  border-bottom: 1px dotted;
  padding: 12px;
  grid-area: nav;
  text-align: center;
  display: flex;
  justify-content: center;
}

.site-nav > div {
  text-decoration: none;
  margin: 10px;
}

.site-nav a:hover {
  border-bottom: 1px black dotted;
}

.site-nav a.active {
  border-bottom: 1px black dotted;
  color: rgb(100, 153, 100);
}

/* main content/about/blog */

.site-main {
  border: 1px 0px 0px 1px dotted;
  padding: 10px 10px 0px 10px;
  margin: 0px;
  grid-area: main;
  text-align: center;
}

.section {
  text-align: left;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
}

.section h3 {
  font-family: "Libre Baskerville", serif;
  margin-bottom: 3px;
}

.selfie {
  width: 300px;
  padding-left: 7%;
  align-self: center;
}

/* gallery is de container voor de piccas (afbeeldingen/pictures), 
hopelijk leer ik later een makkelijkere/betere manier
voor een afbeelding gallery */

.gallery-1 {
  padding: 1px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 300px;
  grid-area: main;
}

.gallery-1 > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
}

.gallery-1 > div:hover {
  transform: scale(1.2);
  transition: width 1s;
}

.gallery-1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: rgb(100, 153, 100);
}

.description {
  display: none;
  position: absolute;
}

.picca-1 {
  flex: 1;
  order: 1;
  border-radius: 10px;
  padding: 5px;
}
.picca-2 {
  flex: 2;
  order: 4;
  border-radius: 10px;
  padding: 5px;
}
.picca-3 {
  flex: 3;
  order: 3;
  border-radius: 10px;
  padding: 5px;
}
.picca-4 {
  flex: 4;
  order: 1;
  border-radius: 10px;
  padding: 5px;
}
.picca-5 {
  flex: 5;
  order: 1;
  border-radius: 10px;
  padding: 5px;
}
.picca-6 {
  flex: 6;
  order: 1;
  border-radius: 10px;
  padding: 5px;
}
.picca-7 {
  flex: 7;
  order: 1;
  border-radius: 10px;
  padding: 5px;
}
.picca-8 {
  flex: 8;
  order: 1;
  border-radius: 10px;
  padding: 5px;
}
.picca-9 {
  flex: 9;
  order: 1;
  border-radius: 10px;
  padding: 5px;
}

/* contact form */
.form {
  margin-bottom: 100%;
}
.submit-contact {
  background-color: rgb(100, 153, 100);
  border: none;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  width: 160px;
}

/* footer */

.site-footer {
  border-top: 1px dotted;
  margin-top: 10px;
  padding: 0px;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-footer > div {
  margin: 5px;
}

.site-footer a:hover {
  border-bottom: 1px dotted rgb(100, 153, 100);
}

.footer-updated {
  font-size: 10px;
  text-align: center;
}

/* voor responsiveness */

@media (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .site-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .selfie {
    width: 500px;
    padding-left: 50%;
  }
}

@media (min-width: 768px) {
  .section {
    padding-right: 25%;
    margin-bottom: 20%;
  }
}

@media (min-width: 768px) {
  .form {
    margin-bottom: 20%;
  }
}
@media (min-width: 768px) {
  .site-footer > div {
    margin: 10px;
  }
}
